* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100%;
  background-image: url(output.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.score-button-container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Align items vertically in the center */
  align-items: center; /* Align items horizontally in the center */
  gap: 20px; /* Adds space between the score display and the button */
  text-align: center;
  color: #fff;
}

.starry-text {
  font-family: 'Courier';
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
}


.grid {
  display: flex;
  flex-wrap: wrap;
  width: 470px;
  height: 300px;
  padding: 20px;
}
.grid img {
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: space-evenly;
}
.rules {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  width: 400px;
  height: 350px;
  background: none; /* Removes background color */
  color: #D3D3D3; /* Starry grey text color */
  padding: 2rem;
  font-size: 18px;
}

.rules-heading, .rule-items li {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4); /* Optional: adds subtle glowing effect */
  padding: 1rem;
}

.score {
  background-color: wheat;
}
.button {
  background-color: #000000;
  color: #fff;
  font-size: 20px;
  padding: 25px 40px;
  border-radius: 4px;
  text-align: center;
}
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.wrapper {
  height: 100px;
  width: 360px;
  position: relative;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  border-radius: 10px;
  cursor: default;
  animation: animate 1.5s linear infinite;
}
.wrapper .display,
.wrapper span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .display {
  z-index: 999;
  height: 85px;
  width: 345px;
  background: #1b1b1b;
  border-radius: 6px;
  text-align: center;
}
.display #time {
  line-height: 85px;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 1.5s linear infinite;
}
@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}
.wrapper span {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: inherit;
}
.wrapper span:first-child {
  filter: blur(7px);
}
.wrapper span:last-child {
  filter: blur(20px);
}

li {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: calc(10px + 6vh);
  line-height: calc(20px + 20vh);

  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: 'Sacramento', cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

h2 {
  font-size: calc(10px + 6vh);
  line-height: calc(20px + 20vh);

  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: 'Sacramento', cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

abcd1 {
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 7px,
    rgba(0, 0, 0, 0.8) 9px,
    rgba(0, 0, 0, 0.8) 13px,
    transparent 13px
  );
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}


/* .rules {
  left: 30px;
  margin: 100px;
  position: absolute;
  top: 100px;
} */
